.navContainer {
  position: fixed;
  top: 0;
  left: 61px;
  width: calc(100vw - 60px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1.5px solid var(--black-3);
  border-left: none;
  padding: 12px;
  /* background: url(../../images/darkness.jpg); */
  background-color: black;
  z-index: 998;
  box-sizing: border-box;
  transition: all 1s ease-in-out;
}

.navLeft {
  margin-left: 10px;
}

.navLeft img {
  cursor: pointer;
}

.navMid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navMidLinks {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navIcon {
  transition: transform 1s ease-in-out;
  display: none;
  font-size: 1.7rem;
  color: var(--white-3);
}

.navMid a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--black-5);
  letter-spacing: 2px;
  transition: all 0.3s ease-out;
}

.navMid a:hover,
.navMid a:active {
  /* color: var(--white-2); */
  color: goldenrod;
  /* text-shadow: 0px 0px 2px var(--white-2); */
  text-shadow: 0px 0px 15px goldenrod;
}

.navRight {
  margin-right: 50px;
}

.GITbtn {
  background-color: var(--white-3);
  color: var(--black-2);
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  border: 2px solid var(--white-2);
}

.GITbtn:hover {
  /* color: var(--white-2); */
  color: goldenrod;
  background-color: transparent;
  border: 2px solid goldenrod;
}

@media only screen and (max-width: 800px) {
  .GITbtn {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  .navContainer {
    left: 0;
    width: 100vw;
    padding: 12px 20px;
  }

  .navRight  {
    margin: 0;
  }
}

@media only screen and (max-width: 650px) {
  
  .navLeft {
    order: 2;
  }

  .navMid {
    order: 1;
  }

  .navRight {
    order: 3;
  }

  .navIcon.show {
    display: initial;
  }

  .navMidLinks {
    /* Yaha kuch to gadbad ho sakti hai */
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    top: 1px;
    left: 0px;
    height: 100vh;
    background-color: black;
    z-index: 9999;
    padding: 20px 50px 20px 20px;
    transform: translateX(-80vw);
    transition: all 0.3s ease-in-out;
    }

    .navMid a {
      font-size: 1.1rem;
    }
    
    .open {
      transform: translateX(0vw);
      width: 100vw;
  }
}
